main {
  margin: 0 auto;
  // max-width: 900px;
  width: 90%;
  padding: 1.5ch;
}

form {
  display: flex;
  gap: 0.3rem;

  input {
    padding: 0.5rem;
    flex: 1;
  }

  button {
    padding: 0.4rem;
  }

  input,
  button {
    font-size: 0.8rem;
    border-radius: 0.3rem;
  }
}

#weatherResult {
  background-color: #f3f3f3;
  padding: 8px 15px 10px 15px;
  font-family: Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;

  * {
    margin: 0;
  }

  hr {
    border: 1.9px solid #1a1519;
    margin: 0.3em 0;
  }

  .overview {
    display: flex;
    gap: 1ch;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .card {
      flex: auto;
      padding: 0.4ch 0.5em;
      border: 3px solid #1a1519;
    }
  }

  .firstGlance {
    margin-bottom: 0.5em;
  }

  #cardInfo {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 1;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      display: flex;
      border: 2px solid #1a1519;
      padding: 0.2em 0.5em;
      margin: 0.3em;
      font-family: monospace;

      .cardTitle {
        font-size: 1.4em;
        text-decoration: underline;
      }
    }
  }

  #forecast {
    overflow-x: scroll;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1ch;
    row-gap: 0.2ch;
    flex-wrap: wrap;

    .forecast-day:nth-of-type(2) {
      border: rgb(209, 12, 150) solid 2px;
    }

    .forecast-day {
      flex: 1;
      border: 2px solid #1a1519;
      padding: 0.5em 0.2em;
      border-radius: 0.3rem;


      hr {
        border: 1px solid #1a1519;
      }
    }
  }
}

#bookmarks {
  margin-top: 0.4em;
  margin-bottom: 0.4em;

  svg,
  img {
    width: 2.4em;
    height: 2.4em;
    cursor: pointer;
  }
}

table,
td,
th {
  border: 1px solid;
  // padding: 10px;
}

table {
  border-collapse: collapse;
}